<div id='wrapper'>
  <div id='title'>View Repository</div>

  <input type='search' id='search' placeholder="Enter repo link or name..."> <!-- set value to current repo-link when viewing one -->
  <div id='content'>
    <!-- repository data... -->
  </div>
  <div id='test'></div>
  
  <div class='home-btn'>
    <ion-icon name="home-outline"></ion-icon>
    <div (click)="goHome()">Home</div>
  </div>
  <div id='logout-btn'>
    <ion-icon name="log-out-outline"></ion-icon>
    <div (click)="onLogout()">Logout</div>
  </div>
</div>