h2.headerStyling {
    padding-top: 0px;
    text-align: center;
}
.homeIcon {
    padding-right: 4px;
}
.backToHomeBtn {
    padding-left: 10px;
}
.settingsIcon {
    padding-right: 4px;
}
.settingsBtn {
    padding-right: 10px;
}
.requestInput {
    --padding-end: 20px;
}
.submitBtn {
    padding-left:15px;
    padding-right:15px;
    padding-bottom:8px;
}