.title {
    align-items: center;
    text-align: center;
}
.container {
    background-color:lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    width: 500px;
    height: auto;
    border: 2px solid black;
    color: black;
    text-align: center;
    margin: auto;
}
.loginBTN {
    background-color: green;
    height: 30px;
    border-radius: 5px;
    width: 90px;
}
.registerBTN {
    background-color: coral;
    height: 30px;
    border-radius: 5px;
    width: 90px;
    margin-left: 10px;
}

.guestBTN {
    background-color: darkslategray;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    margin-top: 10px;

}

input {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid black;
    box-sizing: border-box;
    color: white;
}
.help-block {
    color: red;
}

form {
    padding: 6px;
}